# Secret will be used to sign session cookies, CSRF tokens and for other encryption utilities.
# It is highly recommended to change this value before running cerebro in production.
secret = ";!2Iw6U+L:{#F*Eq5W[seT1#)!a$)6$K*bWwTUOYy):9eK,|aSfFRH^Yl{oIJfO"

# Application base path
basePath = "/"

# Defaults to RUNNING_PID at the root directory of the app.
# To avoid creating a PID file set this value to /dev/null
#pidfile.path = "/var/run/cerebro.pid"
pidfile.path=/dev/null

# Rest request history max size per user
rest.history.size = 50 // defaults to 50 if not specified

# Path of local database file
#data.path: "/var/lib/cerebro/cerebro.db"
data.path = "./cerebro.db"

es = {
  gzip = true
}

# Authentication
#auth = {
#  type: basic
#    settings: {
#      username = "admin"
#      password = "admin"
#    }
#}

# A list of known hosts
hosts = [
  {
    host = "http://elasticsearch1:9200"
    name = "elasticsearch1"
  },
  {
    host = "http://elasticsearch2:9200"
    name = "elasticsearch2"
  }
]